*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #f9f9f9;
    padding: 0  16px;   
}

.header-content, .header nav, .buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 16px;
}

button {
    padding: 8px 16px;
}

.div-main {
    width: 100%;
    display: center;
    gap: 16px;
    padding: 16px;
    flex: 1;
}

.leitura {
    flex: center;
    background-color: #ccc;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px; /* Define a largura máxima desejada */
    height: 100%;
}

.leitura p {
    text-align: left; /* Alinhar o texto à esquerda */
    margin: 0 auto; /* Centralizar o texto dentro do contêiner leitura */
}

h2{
text-align: left;
}